.tabbar {
    -webkit-app-region: drag;
    position: sticky;
    top: 0;
    z-index: 4;
    width: 100vw;
    height: 35px;
    background-color: rgba(255, 0, 106,1);
    display: flex;
    justify-content: flex-start;
    .icon {
      width: 10vw;
      height: 100%;
      margin:0 20px;
      h2 {
        margin: 0;
        line-height: 35px;
        color: rgb(255, 251, 253);
      }
      svg {
        -webkit-app-region: no-drag;
        fill: rgb(255, 0, 106);
        width: 35px;
        height: 35px;
      }
    }
    .menu {
      display: flex;
      justify-content: flex-start;
      width: 75vw;
      height: 100%;
      .sideItem {
        -webkit-app-region: no-drag;
        width: 6vw;
        height: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;
        cursor: pointer;
        line-height: 35px;
        text-decoration: none;
        font-size: 16px;
        margin: 0;
        color: white;
        svg {
          padding-left: 3px;
          width: 25px;
          fill: white;
        }
      
        &:hover {
          background-color: rgba(255, 255, 255, 0.8);
        }
      }
      .active {
        background: rgba(255, 255, 255, 0.8);
        color:rgb(255, 0, 106);
        svg{
           fill: rgb(255, 0, 106);
        }
      }
    }
    .windowTool {
      -webkit-app-region: no-drag;
      width: 15vw;
      height: 100%;
      background-color: rgb(255, 0, 106);
      display: flex;
      justify-content: flex-end;
      .svgparent {
       position:relative;
       width: 45px;
        svg {
          fill: white;
          transition: all 0.3s ease;
          margin: 0;
    
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          &:hover{
            fill: rgb(255, 0, 106);
          }
        }
        &:hover {
          background-color: rgb(255, 253, 254);
        }
      }
      .min {
        svg {
          width: 35px;
          height: 35px;
        }
      }
      .max {
        svg {
          width: 25px;
          height: 20px;
        }
      }
      .close {
        background-color: rgb(255, 0, 106);
    
        svg {
          width: 25px;
          height: 25px;
        }
      }
   
    }
  }



