.card {
  
    // width: 14vw;
    
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
    &:hover {
      // box-shadow: rgb(97, 97, 97) 2px 2px 5px;
      transition: all 0.3s ease-in-out;
      .title {
        background-color: rgba(255, 255, 255, 0.315);
        backdrop-filter: blur(8px);
        color: rgb(255, 0, 106);
        opacity: 1;
      }
      .actTool {
        .collectstyle{
          opacity: 1;
        }
      }
    }
    .title {
      width: 100%;
      height: auto;
      padding: 15px 0;
      position: absolute;
      color: rgb(255, 0, 106);
      transition: opacity 0.3s ease-in-out;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
    }

    .actTool {
        width: 45px;
        height: 100%;
        background: rgba(255, 255, 255, 0);
        position: absolute;
        top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        // padding-top: 10px;
        .count {
          color: rgb(255, 0, 106);;
          background-color: rgba(255, 255, 255, 0.8);
          padding: 3px;
          font-size: 12px;
          &:after {
            content: "p";
            width: 30px;
            height: 30px;
            // background: red;
            left: 15px;
          }
        }
        svg {
          margin: 4px 0;
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
        svg.collectstyled {
          fill: rgb(255, 0, 106);
   
        }
        svg.collectstyle {
          opacity: 0;
          fill: rgba(255, 255, 255, 0.8);
          &:hover {
            fill: rgb(255, 0, 106);
          }
        }
      }

  }